<div class = "navbar">

    <mat-toolbar class = "nav-bar">
      <mat-toolbar-row class = "nav-create">
        <h1 (click) = "navHome()" class = "welcome-logo">Lyrist</h1>
        <hr class = "horizontal-line-logo">

        <div class = "button-wrapper">
          <button mat-button (click) = "navCreate()">create</button>
          <button mat-button (click) = "navBrowse()">browse</button>
          <button mat-button (click) = "navCategories()">categories</button>
          <button mat-button (click) = "navAbout()">about</button>
        </div>

        <hr class = "horizontal-line">
        <!-- <div class = "search">
            <img class = "search-glass" src="../../assets/images/search-24px.svg" alt="">
            <input class = "search-bar" type="text" placeholder="search lyrist" style="padding-left: 40px;">
        </div> -->
      </mat-toolbar-row>


    </mat-toolbar>

</div>
