<div class = "navbar">
    <h1 class = "welcome-logo">Lyrist</h1>

    <mat-toolbar class = "nav-bar">
        <h3 class="nav-browse">BROWSE</h3>
        <h3 class="nav-categories">CATEGORIES</h3>
        <h3 class="nav-about">ABOUT</h3>


        <div class = "search">
            <img class = "search-glass" src="../../assets/images/search-24px.svg" alt="">
            <input class = "search-bar" type="text" placeholder="Search Lyrist" style="padding-left: 40px;">
        </div>

    </mat-toolbar>

</div>
