::placeholder {
    color: black;
    opacity: 1;
}

.lyric-wrapper {
    text-align: center;
    // .lyric-title {
    //     height: 2%;
    //     left: 15%;
    //     position: absolute;
    //     text-align: center;
    //     font-size: inherit;
    //     color: rgb(44, 44, 44);
    //     font-weight: 700;
    //     width: 25%;
    //     opacity: 0.9;
    //     background: rgba(0, 0, 0, 0.397);
    //     border-radius: 10px;
    //     outline: none;
    //     border-width: initial;
    //     border-style: none;
    //     border-color: initial;
    //     border-image: initial;
    //     padding: 10px 20px;
    //     top: 35%;
    // }
    .lyric-box, .lyric-title, .lyric-author {
        position: absolute;
        text-align: center;
        font-size: inherit;
        color: rgb(44, 44, 44);
        font-weight: 700;
        width: 35%;
        height: 45%;
        opacity: 0.9;
        background: rgba(0, 0, 0, 0.397);
        border-radius: 10px;
        outline: none;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        padding: 10px 20px;
        top: 35%;

    }

    .lyric-title {
        height: 2%;
        left: 15%;
        width: 25%;
    }

    .lyric-author {
        top: 45%;
    }

}


.submit-button {
    position: absolute;
    top: 55%;
    left: 15%;
    background: transparent;
}
.save-button {
    position: absolute;
    top: 55%;
    left: 22%;
    background: transparent;

}
.clear-button {
    position: absolute;
    top: 55%;
    left: 28%;
    background: transparent;
}


