.background-wrapper {
    background: rgb(213,217,192);
    background: linear-gradient(203deg, rgba(213,217,192,0.7175245098039216) 0%, rgba(212,196,214,0.8519782913165266) 22%, rgba(213,173,136,1) 100%);
    position: absolute;
    height: 100%;
    width: 100%;
}