<app-navbar></app-navbar>

<!-- <h1>{{ lyricPosts | json }}</h1> -->

<div class = "accordion-wrapper">
  <span class = "accordion-title">recent lyrics</span>
  <mat-accordion>

    <mat-expansion-panel *ngFor="let row of lyricPosts; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>{{lyricPosts[i].title}}</mat-panel-title>
        <mat-panel-description>{{lyricPosts[i].author}}</mat-panel-description>
        <a mat-button [routerLink] = "['/edit', lyricPosts[i].id]">EDIT</a>
        <button mat-button (click)="onDelete(lyricPosts[i].id)">DELETE</button>
      </mat-expansion-panel-header>

      <div class = "content">
        {{lyricPosts[i].body}}
      </div>
    </mat-expansion-panel>

  </mat-accordion>
</div>



