.accordion-wrapper {
  width: 50%;
  position: relative;
  top: 250px;
  margin: auto;
}
.accordion-title {
  font-size: x-large;
}
mat-expansion-panel {
  background: #020307;
  border-style: solid;
  border-width: 1px;
  mat-expansion-panel-header {
    font-family: 'Source Code Pro', monospace;
    mat-panel-title, mat-panel-description {
      color: white;
    }
    ::ng-deep .mat-expansion-indicator::after {
      color: white;
    }
  }

}
.mat-expansion-panel, .content {
  color: white;
  font-family: 'Source Code Pro', monospace;

}

mat-expansion-panel:hover{
  background: grey;
}
