/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.background-wrapper {
    background: rgb(213,217,192);
    background: linear-gradient(203deg, rgba(213,217,192,0.7175245098039216) 0%, rgba(212,196,214,0.8519782913165266) 22%, rgba(213,173,136,1) 100%);
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
}